* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  transition: linear 125ms;
}

*::selection {
  background-color: var(--light-gray);
  color: var(--mid-blue);
}

button { cursor: pointer; }

*:focus { outline: none; }

fieldset { border: none; }
input { display: block; }